# Options +FollowSymLinks
RewriteEngine on

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^resume/*$ ./resume.php
RewriteRule ^cv/*$ ./resume.php
RewriteRule ^home/*$ ./index.php
RewriteRule ^contact/*$ ./contact.php
RewriteRule ^intel8080/*$ ./angularApp/views/home.html
#RewriteRule ^intel8080/*$ ./intel8080.php
RewriteRule ^404/*$ ./404.php

ErrorDocument 404 http://paulpires.com/404
# ErrorDocument 404 /myPortfolio2/404.php
# ErrorDocument 404 "Oops - 404! Click <a href='home'>here</a> to go home."

