extends layout

block content
  .container.paper.paper-curl
    .row.animated.fadeInDown
      .col-xs-12
        #text-header.text-center.font-thin
          h1 404 !
            br
            | click
            span.font-orange.font-semibold
              a(href='/')  here
            |  to go home.
        #double-seperator
          hr
          hr
