extends layout

block content
  .row.box
    #text-header.text-center.font-thin
      h1 404 !
        br
        | click
        span.font-orange.font-semibold
          a(href='/')  here
        |  to go home.
