extends layout

block content
  .row.box(style='color: grey')
    p
      | Hey, I'm Paul - a software engineer living in London with a
      | particular interest in 
      b mobile
      |  and 
      b web
      |  technologies. I currently specialize in 
      b iOS
      |  and work @ 
      b Sky UK
      | .
    p
      | Please feel free to contact me at 
      a(href='mailto:paulpires101@gmail.com') paulpires101@gmail.com
      |  or connect with me on 
      a(href='https://www.linkedin.com/pub/paul-pires/42/a0/53a') LinkedIn
      | .
