include contactMe
include topMessage
extends layout
block content
    .container.paper.paper-curl
        .row.animated.fadeInDown
            .col-xs-12
                #text-header.text-center.font-thin
                    +topMessage(emailSent, error, emailInvalid, mailError)
                    h1 PaulPires.com
                        br
                        | Want to get in touch? contact me below :-)
                #double-seperator
                    hr
                    hr
        .row
            .box.animated.fadeInDown(style='width: 70%; margin: 0 auto;')
                h2 Contact
                p
                    img(src='images/linkedin_img.png', style='width: 14px; height: 14px;')
                    |  Connect with me on
                    a(href='https://www.linkedin.com/pub/paul-pires/42/a0/53a', target='_blank')  LinkedIn
                    br

                    span.glyphicon.glyphicon-envelope
                    |  Email me at
                    span.font-orange
                        a(href='mailto:paulpires101@gmail.com')  paulpires101@gmail.com
                    |  or leave me a message below:

                +contactMe('/', contactName, contactEmail, contactMessage)
