mixin topMessage(emailSent, error, emailInvalid, mailError)
  if emailSent
    #contactAlert.contactMsg.alert.alert-success.animated.bounceIn(role='alert')
      b Thank you
      |  for your message! :-)
  else if error
    if emailInvalid
      .contactMsg.alert.alert-danger.animated.bounceIn(id='', role='alert')
        b Error:
        |  Please enter a valid email address!
    else if mailError
      .contactMsg.alert.alert-danger.animated.bounceIn(id='', role='alert')
        b Error:
        |  uh-oh An internal error occurred. This means your message was not sent. Please try again or send me and email at paulpires101@gmail.com
    else
      .contactMsg.alert.alert-danger.animated.bounceIn(id='', role='alert')
        b Error:
        |  Please make sure you fill in all contact details!