@tailwind base;
@tailwind components;
@tailwind utilities;

@import "prism-themes/themes/prism-coldark-cold.css" screen and (prefers-color-scheme: light);
@import "prism-themes/themes/prism-coldark-dark.css" screen and (prefers-color-scheme: dark);

html, body
{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  position: relative;
  user-select: none;
  background-color: var(--background-secondary);
}

p, h1, h2, h3, h4, h5, h6, li, code
{
  user-select: text;
}

:root 
{
  /* Your default theme */
  --background-primary: #ededed;
  --background-secondary: #ffffff;
  --background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

[data-theme='dark'] {
  --background-primary: #0E141B;
  --background-secondary: #20262E;
  --background-image: none;
}

[data-theme='light'] {
  --invertion: 100%;
}

@media screen(sm) 
{
  html, body 
  {
    background-color: var(--background-secondary);
    background-image: none;
  }
}

@media screen(md)
{
  html, body
  {
    background-color: var(--background-primary);
    background-image: var(--background-image);
  }
}

a 
{
  color: inherit;
  text-decoration: none;
}

*
{
  box-sizing: border-box;
}

img, svg
{
  -webkit-filter: invert(var(--invertion));
  filter: invert(var(--invertion));
}